{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav class="desk-nav">
    <div class="nav-content">
        <div class="form-block">
        <a href="{% url 'index' %}" class="headerText" style="margin-top: 10px;"><i class="arrow right"></i></a>
        <p class="headerText">Add Item</p>
        </div>
        <div >
            <a href="{% url 'log_out' %}" class="headerText1" >
                <p class="picker-button" style="display: inline-block; vertical-align: middle; font-size: 30px;">Log out</p>
                <img style="width: 50px; height: 50px; display: inline-block; vertical-align: middle;" src="{% static 'assets/imgs/theme/logout-arrow.svg' %}" alt="#">
            </a>
        </div>      
    </div>
</nav>
<div class="error-message-desk">
    Please use desktop to continue.
</div>
  <div class="add-item-div" style="margin: 30px;       border-radius: 5px;
box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
">
<div style="padding: 30px;">
    <form method="post">
        {% csrf_token %}
        <div class="form-block">
            <div class="form-labels">
                <label for="id_username">PRODUCT ID:</label>
                <label for="id_email">PRODUCT NAME:</label>
                <label for="id_password1">PRODUCT CATEGORY:</label>
                <label for="id_password2">STOCK:</label>
            </div>
            <div class="form-inputs">
                {{ form.product_id }}
                {{ form.product_name }}
                {{ form.product_category }}
                {{ form.stock }}
                <button type="submit" class="btn btn-fill-out btn-block hover-up font-weight-bold" style="margin-top: 20px;" name="login">Add item</button>
            </div>
        </div>
        {% for field in form %}
            {% for error in field.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        {% endfor %}
    </form>
</div>
  {% endblock content %}