{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Password Reset</span></div>
        <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              {{ form.email }}
          </div>
      </div>
        <div class="row button">
        <input type="submit" name="Send email">
        </div>
        </form>
      </div>
    </div>

{% endblock content %}
