{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="wrapper">
            <div class="title"><span>Password Reset</span></div>
            <form method="post">
                {% csrf_token %}
                <div class="row1">
                    <label>Your Password:</label>
                    {% for field in form %}
                        {% if forloop.first %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row1">
                    <label>Confirm Password:</label>
                    {% for field in form %}
                        {% if forloop.counter|add:"-1" %}
                        
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row button" style="margin-top: 40px;">
                    <input type="submit" value="Send email">
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
